.button {
  padding: 18px 30px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background: var(--primary-dark);
  color: var(--white-color);
  position: relative;
}

.button img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  background: var(--dark-hover-color);
}

.button.loading {
  cursor: not-allowed;
  pointer-events: none;
}

.button.loading span {
  opacity: 0;
}

.button.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: var(--button-disable-color);
}
