:root {
  --secondary-bg-color: #1212120d;
  --primary-dark: #262626;
  --white-color: #ffffff;
  --light-grey-color: #22222280;
  --dark-hover-color: #262626f0;
  --light-hover-color: #f6f6f6;
  --input-focus-dark-color: #222222d9;
  --button-disable-color: #2222226d;
}

@font-face {
  font-family: 'Righteous';
  src: url('./assets/fonts/Righteous-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root::before,
#root::after {
  content: '';
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: #4a5cff66;
  width: 50vw;
  height: 50vw;
  max-width: 644px;
  max-height: 644px;
  border-radius: 50%;
  filter: blur(200px);
  z-index: -1;
}

#root::before {
  left: -25vw;
}

#root::after {
  right: -25vw;
}

.container {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  background: white;
  margin: auto;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.align-start {
  align-items: flex-start;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-end {
  justify-content: flex-end;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.input__wrapper {
  margin-bottom: 20px;
}

.input {
  outline: none;
  border: none;
  background: var(--secondary-bg-color);
  padding: 18px 27px;
  border-radius: 5px;
  color: var(--light-grey-color);
  font-size: 14px;
  font-family: 'Righteous';
  width: 100%;
}

.input:focus {
  color: var(--input-focus-dark-color);
}

.input__wrapper {
  position: relative;
}

.input__wrapper.loading::after,
.input__wrapper.valid::after,
.input__wrapper.invalid::after,
.input__wrapper.search::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: url(./assets/loading.gif) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.input__wrapper.valid::after {
  background: url(./assets/valid.webp) no-repeat;
  background-size: cover;
}

.input__wrapper.invalid::after {
  background: url(./assets/invalid.png) no-repeat;
  background-size: cover;
}

.input__wrapper.search::after {
  background: url(./assets/search.svg) no-repeat;
  background-size: cover;
  right: 27px;
}

.toaster {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toaster {
  top: 35px;
  right: 35px;
}

.toast {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}

.toast.success {
  background-color: #4caf50; /* Green */
}

.toast.error {
  background-color: #f44336; /* Red */
}

.toast.info {
  background-color: #2196f3; /* Blue */
}

.sm-heading {
  font-size: 14px;
  font-family: 'Poppins';
}
